<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../static/Aim2cs_app/css/main.css" />
        <title>AIM2CS</title>
    </head>
    <body>
        <nav>
            <a href="/"><img src="../../static/Aim2cs_app/images/logo.png" style="width: 10%;"></a>
            <a href="upload"><img src="../../static/Aim2cs_app/images/uploadf.png" style="float: right; width: 10%;"></a>
        </nav>

        <div class="select_box">
            <div class="circle" id="season"><span>#봄</span></div>
            <div class="circle" id="season"><span>#여름</span></div>
            <div class="circle" id="season"><span>#가을</span></div>
            <div class="circle" id="season"><span>#겨울</span></div>
        </div>
        <div style="text-align: center; margin-top:30px">
            <div class="circle" id="weather"><span>#비</span></div>
            <div class="circle" id="weather"><span>#구름</span></div>
            <div class="circle" id="weather"><span>#눈</span></div>
            <div class="circle" id="weather"><span>#바람</span></div>
            <div class="circle" id="weather"><span>#해</span></div>
        </div>
        <div style="text-align: center; margin-top:30px">
            <div class="circle" id="bac"><span>#나무</span></div>
            <div class="circle" id="bac"><span>#달</span></div>
            <div class="circle" id="bac"><span>#꽃</span></div>
            <div class="circle" id="bac"><span>#낙엽</span></div>
        </div>
        <div style="text-align: center; margin-top:30px">
            <div class="circle" id="place"><span>#계곡</span></div>
            <div class="circle" id="place"><span>#산</span></div>
            <div class="circle" id="place"><span>#바다</span></div>
        </div>
    </body>
</html>