<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../static/Aim2cs_app/css/main.css" />
        <title>AIM2CS</title>
    </head>
    <body>
        <div class="nav">
            <a href="../"><img src="../../static/Aim2cs_app/images/logo.png" style="width: 15%; margin-left: 1%;"></a>
            <div class="nav-items">
            <div class="nav-item"><a href="../sign_in" style="color: inherit; text-decoration: none;">Sign in</a></div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="nav-item"><a href="../sign_up" style="color: inherit; text-decoration: none;">Sign up</a></div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="session_id">&nbsp;&nbsp;{{request.session.userid}}&nbsp;&nbsp;</div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="nav-item"><a href="../upload" style="color: inherit; text-decoration: none;">Upload</a></div>
        </div>
        </div>

        <div style="width: 100%; height: 50%; background-color: black;">fads</div>

        <div class="views">
            <table class="view_table">
                <thead>
                    <tr>
                        <td><B>Select View</B></td>
                    </tr>
                </thead>
                <tbody>
                    {% for honam in honam_db %}
                    <tr>
                        <td>
                            <div class="view-item">
                                <form action="../detail_view/" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="upload_img"><img src="{{honam.uploadedFile.url}}" width="80%"></div>
                                    <div class="upload_form">
                                        <h1>CATEGORY</h1>
                                        <span style="border: solid 2px; padding: 5px; color: black;">{{honam.category}}</span>
                                        <hr>
                                        <h1>SEASON</h1>
                                        <span style="border: solid 2px; padding: 5px; color: black;">{{honam.season}}</span>
                                        <hr>
                                        <h1>WEATHER</h1>
                                        <span style="border: solid 2px; padding: 5px; color: black;">{{honam.weather}}</span>
                                        <hr>
                                        <h1>NATURE</h1>
                                        <span style="border: solid 2px; padding: 5px; color: black;">{{honam.nature}}</span>
                                        <hr>
                                        <h1>PLACE</h1>
                                        <span style="border: solid 2px; padding: 5px; color: black;">{{honam.place}}</span>
                                        <hr>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </body>
</html>