<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../static/Aim2cs_app/css/main.css" />
        <title>AIM2CS</title>
    </head>
    <body>
        <nav>
            <a href="/"><img src="../../static/Aim2cs_app/images/logo.png" style="width: 10%;"></a>
            <a href="upload"><img src="../../static/Aim2cs_app/images/uploadf.png" style="float: right; width: 10%;"></a>
        </nav>

        {% for honam in honam_db %}
        {{honam.category}}<br>
        {{honam.season}}<br>
        {{honam.weather}}<br>
        {% endfor %}
    </body>
</html>