<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../../static/Aim2cs_app/css/sign_up.css" />
<title>회원 가입 폼 테스트</title>
<link href="https://fonts.googleapis.com/css2?family=Dongle&family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/hiphop5782/js@0.0.6/typing/hakademy-typing.js"></script>
<link rel="stylesheet" type="text/css" href="../../static/Aim2cs_app/css/sign_up.css">
</head>
<body>
    <div class="nav">
        <a href="../"><img src="../../static/Aim2cs_app/images/logo.png" style="width: 15%; margin-left: 1%;"></a>
        <div class="nav-items">
            <div class="nav-item"><a href="../sign_in" style="color: inherit; text-decoration: none;">Sign in</a></div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="nav-item"><a href="../sign_up" style="color: inherit; text-decoration: none;">Sign up</a></div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="session_id">&nbsp;&nbsp;{{request.session.userid}}&nbsp;&nbsp;</div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="nav-item"><a href="../upload" style="color: inherit; text-decoration: none;">Upload</a></div>
        </div>
    </div>
    <div class="wrap">
    <div class="sign_up">
        <h2>회원 가입</h2>
        {% if sign_alert == "nop" %}
            <script type="text/javascript">
                window.onload = function() {alert("아이디가 사용 중입니다.");};
            </script>
        {% endif %}

        <form action="../sign_in/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="login_id">
                <h4>ID</h4>
                <input type="text" name="userid" id="" placeholder="Id" size="50">
            </div>
            <div class="login_pw">
                <h4>PASSWORD</h4>
                <input type="password" name="userpasswd" id="" placeholder="Password" size="50">
            </div>

            <div class="submit">
                <input type="submit" button type="button" class="ok" onclick="location.href='../'" value="Sign Up"></button>
            </div>
        </form>
    </div>
    </div>
</body>
</html>