<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../static/Aim2cs_app/css/sign_in.css" />
</head>
<body>
    <div class="wrap">
        <div class="login">
            <h2>로그인</h2>
            {% if sign_alert == "good" %}
                <script type="text/javascript">
                    window.onload = function() {alert("회원가입을 축하합니다. 로그인 후 이용 바랍니다.");};
                </script>
            {% endif %}
            
            <form action="../" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="login_id">
                    <h4>ID</h4>
                    <input type="text" name="userid" id="" placeholder="Id">
                </div>
                <div class="login_pw">
                    <h4>PASSWORD</h4>
                    <input type="password" name="userpasswd" id="" placeholder="Password">
                </div>

                <div class="submit">
                    <input type="submit" button type="button" class="ok" onclick="location.href='../'" value="Sign In"></button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>