<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../static/Aim2cs_app/css/upload_confirm.css" />
        <title>AIM2CS</title>
 
    </head>
    <body>
        <div class="nav">
            <a href="../"><img src="../../static/Aim2cs_app/images/logo.png" style="width: 15%; margin-left: 1%;"></a>
            <div class="nav-items">
            <div class="nav-item"><a href="../sign_in" style="color: inherit; text-decoration: none;">Sign in</a></div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="nav-item"><a href="../sign_up" style="color: inherit; text-decoration: none;">Sign up</a></div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="session_id">&nbsp;&nbsp;{{request.session.userid}}&nbsp;&nbsp;</div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="nav-item"><a href="../upload" style="color: inherit; text-decoration: none;">Upload</a></div>
        </div>
        </div>

        <div class="upload">

            <div class="upload_img">
                Upload Media<br>
                <img src="{{files.uploadedFile.url}}" width="80%">
            </div>
            <div class="img_info">
                <div class="circle" id="user">{{files.username}}</div>
                <div class="circle" id="media">{{files.category}}</div>
                <div class="circle" id="season">{{files.season}}</div>
                <div class="circle" id="weather">{{files.weather}}</div>
                <div class="circle" id="nature">{{files.nature}}</div>
                <div class="circle" id="place">{{files.place}}</div>
                <div class="circle" id="big_area">{{files.big_area}}</div>
                <div class="circle" id="small_area">{{files.small_area}}</div>
                <div class="circle" id="detail_area">{{files.detail_area}}</div>
                <div class="circle" id="explanation">{{files.explanation}}</div>
            </div>

        </div> 
        
    </body>
</html>