<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../static/Aim2cs_app/css/upload_confirm.css" />
        <title>AIM2CS</title>
 
    </head>
    <body>
        <div class="nav">
            <a href="../"><img src="../../static/Aim2cs_app/images/logo.png" style="width: 15%; margin-left: 1%;"></a>
            <div class="nav-items">
                {% if session_tf == False %}
                <div class="nav-item"><a href="../sign_in" style="color: inherit; text-decoration: none;">Sign in</a></div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="nav-item"><a href="../sign_up" style="color: inherit; text-decoration: none;">Sign up</a></div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% else %}
                <div class="session_id">{{request.session.userid}} 님</div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% endif %}
                <div class="nav-item"><a href="../upload" style="color: inherit; text-decoration: none;">Upload</a></div>
            </div>
        </div>

        <div class="upload">

            <div class="upload_img">
                <h2>Upload File</h2>
                <img src="{{files.uploadedFile.url}}" width="80%">
            </div>
            <div class="img_info">
                <h2>CATEGORY : {{files.category}}</h2>
                <hr>
                <h2>SEASON : {{files.season}}</h2>
                <hr>
                <h2>WEATHER : {{files.weather}}</h2>
                <hr>
                <h2>NATURE : {{files.nature}}</h2>
                <hr>
                <h2>PLACE</h2>
                <h3>{{files.big_area}} {{files.small_area}} {{files.detail_area}}</h3>
                <hr>
                <h2>설명</h2>
                <h4>{{files.explanation}}</h4>
                <hr>
            </div>

        </div> 
        
    </body>
</html>