* {
    font-family: 'Nanum Myeongjo', serif;
}
.block{display: inline;}
h1{font-size: 500%;}
h2{font-size: 200%;}
.line2{margin-top: 0%;}
.line1 {
    display: inline-block;
    font-size: 20px;
    min-width:11px;
    white-space: nowrap;
    margin: 0;
    color: transparent;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin-right: 10%;
    font-size: 200%;
  }
  
  .line1::before {
    content: "호남을 이따금씩 한데 모으다.";
    position: absolute;
    margin-left: 50%;
    margin-top: 10%;
    width: 100%;
    height: 100%;
    color: black;
    overflow: hidden;
    border-right: 1px solid black;
    animation: typing 5s steps(31);
  }
  
  
  @keyframes typing{
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

input{
    width: 10%;
}
span{
    text-align: center;
    font-size: 200%;
}

html body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.nav {
    margin-bottom: 4%;
    width: 100%;
	height: 10%;
	background-color: #4D6E4A;
    display: flex;
    align-items : center;
    padding: 0px;
    margin: 0px;
    position: fixed;
    opacity: 0.9;
}
.nav-item {
    font-size: 18pt;
    font-weight: bolder;
    text-align: right;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.session_id {
    font-size: 15pt;
    font-weight: bolder;
    text-align: right;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.nav-items {
    display: flex;
    color: white;
    margin-left: auto;
    margin-right: 1%;
    cursor: pointer;
}
.nav-item:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: aquamarine;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.nav-item:hover:after { 
    width: 100%; 
    left: 0; 
}
.back{
    background-image: url(../images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.select_box {
    text-align: center;
}
form{
    margin-top: 3%;
}
.circle{
    margin: 1%;
    border-style: solid;
    border-width: 1px;
    border-color: #333;
    height: 70px;
    display: inline-block;
}

button{
    position: fixed;
    width: 200px;
    height: 70px;
    border: solid 3px;
    line-height: 10px;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    letter-spacing: 3px;
    background: #4D6E4A;
    color: white;
    float: right;
    right: 1%;
    bottom: 1%;
}

button:hover{
    position: fixed;
    width: 200px;
    height: 70px;
    border: solid 3px;
    line-height: 10px;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    letter-spacing: 3px;
    background: #ABDEAB;
    color: black;
    float: right;
    right: 1%;
    bottom: 1%;
}

input{
    display: none;
}
span{
    color: white;
}
.form{
    display: block;
    text-align: center;
}
.section{
    display: inline-block;
    width: 50% ;
    text-align:center;
    margin-top: 4%;
}
aside{
    float: right;
    width: 50%;
    text-align: center;
    font-size: 25px;
    margin-top: 5%;
}
.form input[type=checkbox] +label #season{
    background-color: #fff;
    color: #333;
    width: 7%;
    height: auto;
    display: inline-block;
    margin: 1%;
    padding: 1%;
    cursor: pointer;
}
.form input[type=checkbox]+label #weather{
    background-color: #fff;
    color: #333;
   width: 9%;
    height: auto;
    display: inline-block;
    margin: 1%;
    padding: 1%;
    cursor: pointer;
}
.form input[type=checkbox]+label #bac{
    background-color: #fff;
    color: #333;
    width: 9%;
    height: auto;
    display: inline-block;
    margin: 1%;
    padding: 1%;
    cursor: pointer;
}
.form input[type=checkbox]+label #place{
    background-color: #fff;
    color: #333;
    width: 9%;
    height: auto;
    display: inline-block;
    margin: 1%;
    padding: 1%;
    cursor: pointer;
}
.form input[type=checkbox]+label #type{
    background-color: #fff;
    color: #333;
    width: 9%;
    height: auto;
    display: inline-block;
    margin: 1%;
    padding: 1%;
    cursor: pointer;
}
.form input[type=checkbox]:checked + label #type{
    background-color: #333;
    color: #fff;
}
.form input[type=checkbox]:checked + label #season{
    background-color: #333;
    color: #fff;
}
.form input[type=checkbox]:checked + label #weather{
    background-color: #333;
    color: #fff;
}
.form input[type=checkbox]:checked + label #place{
    background-color: #333;
    color: #fff;
}
.form input[type=checkbox]:checked + label #bac{
    background-color: #333;
    color: #fff;
}
.form input[type=checkbox]:hover+label #type{
    background-color: rgb(180, 179, 179);
}
.form input[type=checkbox]:hover+label #bac{
    background-color: rgb(180, 179, 179);
}
.form input[type=checkbox]:hover+label #place{
    background-color: rgb(180, 179, 179);
}
.form input[type=checkbox]:hover+label #weather{
    background-color: rgb(180, 179, 179);
}
.form input[type=checkbox]:hover+label #season{
    background-color: rgb(180, 179, 179);
}